input {
    padding: 3px;
    font-size: 114%;
}
a {
    outline: none;
}
img {
    border: 0;
}
div.workarea {
    padding:10px;
    float:left
}
div.video {
    cursor: move;
}
ul.searchlist {
    overflow: auto;
    width: 330px;
    height:230px;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
}
ul.draglist {
    overflow: auto;
    height:390px;
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
    overflow: none;
}
ul.draglist li {
    padding:5px;
}
ul.draglist_alt {
    position: relative;
    width: 200px;
    list-style: none;
    margin:0;
    padding:0;
    padding-bottom:30px;
}
ul.draglist_alt li {
    margin: 1px;
    cursor: move;
}
ul.playlist {
    overflow: auto;
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
}
#ul2 li,#ul4 li{
    list-style: none;
}
ul.playlist li,#ul4 li {
    overflow: hidden;
    float:left;
    padding:5px 11px;
    cursor: move;
}
#ul4 li{
    padding: 1px;
}
ul.playlist li a img,#ul4 li a img{
    width: 60px;
    height: 41px;
}
ul.playlistBottom {
    overflow: auto;
    min-height:58px;
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
}
ul.playlistBottom li {
    overflow: hidden;
    float:left;
    padding:5px;
    cursor: move;
    height: 50px;
    width: 70px;
}
ul.playlistBottom li img {
    height: 47px;
    width: 65px;
}
.draglist_small img {
    position: relative;
    padding-bottom:30px;
}
.draglist_small img {
    height: 47px;
    width: 65px;
}
.draglist_small li {
    cursor: move;
}
li.list1 {
    background-color: #D1E6EC;
    border:1px solid #7EA6B2;
}
li.list2 {
    background-color: #D8D4E2;
    border:1px solid #6B4C86;
}
#ul3 img, #ul2 img, #ul1 img {
    border: 3px solid #333;
}
#ytapiplayer {
    float: right;
    width: 320px;
    height: 240px;
}